body{
    background-color: gray;
    color: white;
}

/* Cabeçalho */
.areas{
    height: 80px;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
}

.btnAreas{
    padding-bottom: 100px;
}

.h1Areas{
    font-size: 250%;
    text-shadow: -4px 2px black;
    color: #f2cb05;
    text-decoration: underline 2px #f2cb05;
}

.btnNav{
    font-family: serif;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 50px;
    font-size: 150%;
    border-radius: 10px;
    border: rgb(85, 85, 85) solid 3px;
    background-color: #d6b301;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 0px;
}

.btnNav:hover{
    background-color: #9b8100;
    color: rgb(209, 209, 209);
}

/* Capa */
.capa{
    width: 101.35%;
    height: 700px;
    margin-left: -10px;
    margin-top: -10px;
}

/* Sobre mim */
.sobreMim{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.imgEu{
    width: 350px;
    height: 350px;
    border: solid 8px rgb(85, 85, 85);
    border-radius: 10px;
}

.txtEu{
    margin-left: 100px;
    width: 600px;
}

.h1Sm{
    font-size: 250%;
    margin-top: 0px;
    text-shadow: -4px 2px black;
}

.asm, .aCurriculo, .c23, .c24, .aPortfolios{
    color: #f2cb05;
    text-decoration: underline 2px #f2cb05;
}

.pEu{
    text-align: justify;
    text-justify: justify;
    justify-content: justify;
    word-break: break-word;
    font-size: 110%;
}

/* Currículo */
.meuCurriculo{
    text-align: center;
    align-content: center;
    margin-top: 10px;
    padding-bottom: 30px;
}

.h1Curriculo{
    font-size: 250%;
    margin-bottom: 20px;
    text-shadow: -4px 2px black;
}

.imgCurriculo{
    width: 450px;
    height: 620px;
    z-index: 10;
    border: solid 8px rgb(85, 85, 85);
    border-radius: 10px;
}

/* Porfólios Antigos */
.portfoliosAntigos{
    text-align: center;
    align-content: center;
    padding-bottom: 100px;
    margin-top: 60px;
}

.h1_24, .h1_23, .h1Antigos{
    font-size: 250%;
    text-shadow: -4px 2px black;
} 

.osPortfolios{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.portfolio24{
    margin-left: 20%;
    padding-bottom: 10px;
}

.portfolio23{
    margin-left: 20%;
    padding-bottom: 10px;
}

.btnPort{
    font-family: serif;
    margin-left: 50px;
    margin-right: 50px;
    width: 170px;
    height: 40px;
    font-size: 130%;
    border-radius: 10px;
    border: rgb(85, 85, 85) solid 3px;
    background-color: #d6b301;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 0px;
}

.btnPort:hover{
    background-color: #9b8100;
    color: rgb(209, 209, 209);
}