body{
    background-color: gray;
    color: white;
}

.botao{
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

.btnNav{
    font-family: serif;
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
    height: 40px;
    font-size: 120%;
    border-radius: 10px;
    border: rgb(85, 85, 85) solid 3px;
    background-color: #f2cb05;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 0px;
    font-family: serif;
}

.btnNav:hover{
    background-color: #9b8100;
    color: rgb(209, 209, 209);
}


/* Capa */
.capa{

    margin-left: -10px;
    border: solid 1px;
}

img{
    width: 100.2%;
}

/* 1º Trimestre */
.trimestre1{
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

a{
    color: #f2cb05;
    text-decoration: underline 2px;
}

.h1Trimestre{
    font-size: 400%;
    text-shadow: -4px 2px black;
    margin-bottom: 50px;
}

.h1Atv{
    margin-bottom: 10px;
    text-shadow: -4px 2px #000000;
    font-size: 270%;
}

.btnAtividade{
    margin-left: 50px;
    margin-right: 50px;
    width: 170px;
    height: 40px;
    font-size: 140%;
    border-radius: 10px;
    border: rgb(85, 85, 85) solid 3px;
    background-color: #f2cb05;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 10px;
    font-family: serif;
}

.btnAtividade:hover{
    background-color: #9b8100;
    color: rgb(209, 209, 209);
}

.planilhaRequisitos{
    width: 69%;
    height: 450px;
    background-color: white;
    border: solid 8px rgb(85, 85, 85);
    border-radius: 10px;
}

#atv2{
    margin-top: 100px;
}

.canvaSA01{
    width: 53%;
    height: 400px;
    border: solid 8px rgb(85, 85, 85);
    border-radius: 10px;
}

/* Modal */
#modalAtv1-1, #modalAtv2-1, #fade{
    display: none;  
}

#modalAtv1-1, #modalAtv2-1{
    border: #f2cb05 4px solid;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 750px;
    max-width: 90%;
    border-radius: 10px;
    background-color: #b6b5b5;
}

#fade{
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 5; /* Faz com que o fade fique por cima dos elementos */
}

.tituloModal{
    display: flex;
    margin-bottom: -40px;
    font-size: 120%;
    text-align: center;
    justify-content: center;
    text-shadow: -4px 2px #000000;
}

.corpoModal{
    width: 90%;
    font-size: 150%;
    color: black;
    padding: 10px;
    text-align: justify;
    justify-content: center;
    margin: auto;
}

