body{
    text-align: center;
    background-color: gray;
    color: white;
}

h1{
    font-size: 250%;
    margin-bottom: 30px;
    text-shadow: -4px 2px black;
}

a{
    color: #f2cb05;
    text-decoration: underline #f2cb05 2px;
}

h2{
    font-size: 200%;
    text-shadow: -4px 2px black;
}

button{
    margin-left: 50px;
    margin-right: 50px;
    width: 170px;
    height: 40px;
    font-size: 140%;
    border-radius: 10px;
    border: rgb(85, 85, 85) solid 3px;
    background-color: #f2cb05;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 10px;
    font-family: serif;
}

button:hover{
    background-color: #9b8100;
    color: rgb(209, 209, 209);
}