body{
    background-color: gray;
    color: white;
}

.botao{
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

.btnNav{
    font-family: serif;
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
    height: 40px;
    font-size: 120%;
    border-radius: 10px;
    border: rgb(85, 85, 85) solid 3px;
    background-color: #f2cb05;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 0px;
}

.btnNav:hover{
    background-color: #9b8100;
    color: rgb(209, 209, 209);
}

.btnMat{
    font-family: serif;
    margin-left: 50px;
    margin-right: 50px;
    width: 230px;
    height: 40px;
    font-size: 120%;
    border-radius: 10px;
    border: rgb(85, 85, 85) solid 3px;
    background-color: #f2cb05;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 0px;
}

.btnMat:hover{
    background-color: #9b8100;
    color: rgb(209, 209, 209);
}

/* Áreas do conhecimento */
h1{
    font-size: 250%;
    text-shadow: -4px 2px black;
}

.areaCon{
    text-align: center;
    align-items: center;
    align-content: center;
}

.materias{
    display: flex;
    margin-top: 30px;
    justify-content: center;

}

#natureza, #humanas, #linguagens{
    margin-left: 50px;
}